frontend/assets/*.glb filter=lfs diff=lfs merge=lfs -text
frontend/assets/**/*.glb filter=lfs diff=lfs merge=lfs -text
frontend/assets/*.usdz filter=lfs diff=lfs merge=lfs -text
frontend/assets/**/*.usdz filter=lfs diff=lfs merge=lfs -text
frontend/models/*.glb filter=lfs diff=lfs merge=lfs -text
frontend/models/*.usdz filter=lfs diff=lfs merge=lfs -text
frontend/models/*.gltf filter=lfs diff=lfs merge=lfs -text
frontend/models/*.bin filter=lfs diff=lfs merge=lfs -text
frontend/models/*.dae filter=lfs diff=lfs merge=lfs -text
